.completed {
    background-color: rgb(21, 235, 21);
    width: au;
   
}

.not-complete {
    background-color: gray;
}

h1 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: center;
}

h2 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#todoItem {
  background-color: lightskyblue;
  border-radius: 3px;
  border-color: rgb(33, 100, 97);
}

#submit-btn {
  background-color: lightskyblue;
  border-radius: 5px;
  border-color: rgb(33, 100, 97);
}

section {
    border: 2px solid #3fc8edda;
    border-radius: 1rem;
    margin-bottom: 2rem;
    padding: 1rem;
  }

  table {
    border-collapse: collapse;
    width: 100%;
  }
  
tr td {
  border: 2px solid black;
  border-radius: 5px;
}

  th, td {
    color: rgb(75, 7, 138);
    text-align: left;
    padding: 8px;
    border-radius: 5px;
  }
  
  thead tr {
  background-color: rgb(12, 132, 172);
  }
  
  tr:nth-child(even) {
    background-color: #E8DFC4;
  }